.hide {
    display: none
}

body {
    background: rgb(230, 230, 230);
    text-align: center;
    padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 25px;
    padding-right: 50px;

}

#question {
    font-size: x-large;
}

#option-list{
    font-size: large;
}

#question-result {
    font-size: large;
}

#highscoreList {
    text-align: left;
    margin-left: 400px;
}

